body{
    background-color: hsl(175, 38%, 70%);
}
#container{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: hsl(192, 100%, 96%);
    font-size: 12px;
    padding: 20px 100px; /* Corrected padding syntax */
    border-radius: 20px; /* Corrected border-radius syntax */
    border: 5px solid rgb(61, 59, 59); /* Added border property */
    width: 800px; /* Set a specific width */
    height: 400px; /* Set a specific height */
    margin: auto; /* Center the div horizontally */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.65);
}
  
h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 48px;
  color: #333;
  text-shadow: 2px 2px #25232350;
}
label{
    font-size: 14px;
    margin-left: 15px;
    margin-right: 10px;
    padding :0px 10px;
}
#plenght{
    width: 50px;
    text-align: center;
}

#mybutton{
    background-color: hsl(212, 51%, 40%);
    color: white;
    cursor: pointer;
    padding: 1px 15px;
    margin-left: 20px;
    border-radius: 10px; 
}
#mybutton2{
    background-color: hsl(212, 51%, 40%);
    color: white;
    cursor: pointer;
    padding: 1px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px; 
}
#mybutton:hover,#mybutton2:hover{
    background-color: hsla(212, 84%, 63%, 0.63);
}
#mybutton:active,#mybutton2:active{
    background-color: hsla(212, 88%, 55%, 0.63);
}

#label{
    border: 2px solid hsla(212, 88%, 55%, 0.63);
    padding : 3px 20px;
    border-radius: 10px;
    cursor: text;
}